*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'open sans';    
}

/*Header*/

header{     
  
  width: 100%;
  height: 600px;
  background: #005AA7;  
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, hsla(55, 100%, 95%, 0.63), hsla(208, 100%, 33%, 0.603)), url(../img/foto_hotel.jpg);  
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsla(55, 100%, 95%, 0.63), hsla(208, 100%, 33%, 0.603)), url(../img/foto_hotel.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  background-size: cover;
  background-attachment: fixed;
  position: relative;    
}

td {
  text-align: center;
}

td >a{
  color:#fff;
  font-weight: 200;
  text-decoration: none;
  margin-right: 30px;
}
td >a:hover{
  text-decoration: underline;
  color:#1e2649;
}

.form  h2{
  color: #1e2649  

}

.resultado h4{
  color: #4c62c4
}


form{
  background: #fff;
  width: 30%; 
  border-radius:10px;
  box-shadow: 0 0 6px 0 rgba(255,255,255,0.8); 
  margin: auto;
  text-align: center;
  padding: 20px 0 20px 0;
    
}

button{
  background:#1e2649;
  display:block;
  width: 100px;
  height: 40px;
  border:none;
  color:#fff;
  border-radius: 4px;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
}
footer{
  background: #1b2138;
  padding: 10px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

input{
  background:none;
  color: #1e2649;
  font-size: 16px;  
  padding: 5px 0 0 0;
}

textarea{
  background:none;
  color: #1e2649;;
  font-size: 12px;
  padding: 10px 10px 10px 250px;
}

label{
  color: #4c62c4

}
.contenedor-footer{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;    
}

.contenedor-foo{
    text-align: center;
}

.contenedor-foo h4{
    color: #fff;
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;

}

.contenedor-foo p{
    color: #fff
}

